@font-face {
    font-family: 'lemonmilk';
    src: 
        url('./lemonmilklight-webfont.woff2') format('woff2'),
        url('./lemonmilklight-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
}
@font-face {
    font-family: 'modern';
    src:
        local('modern'), 
        url('./ModernSansLight.woff2') format('woff2'),
        url('./ModernSansLight.woff') format('woff');
            font-weight: 300;
            font-style: normal;
            font-display: swap;
}
@font-face {
    font-family: 'joselyna';
    src: 
        local('joselyna'),
        url('./joselyna-webfont.woff2') format('woff2'),
        url('./joselyna-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
}